<div class="top-line">
  <div class="container">
    <div class="inner-top-line">
        <div class="row">

          <div class="col-sm-8">
            <ul class="info-list">
              <li>
                <i class="fa fa-envelope"></i>
                <span>Email :</span> {$snippet.emailid}
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <span>Phone :</span> {$snippet.mobileno}
              </li>
            </ul>
          </div>

          <div class="col-sm-4">
            {$snippet.socialicons}
          </div>
        </div>
      </div>
  </div>
</div>
