<section class="about-section">
			<div class="image-holder">
				<img src="{$bat.theme}/assets/ab1@2x.jpg" alt="" width="720" height="656">
			</div>
			<div class="about-box">
				<div class="inner-box">
					<div class="title-section">
						<h1>About Erow Precision</h1>
						<p>Erow Precision Pvt. Ltd. is committed to manufacture best in class and global
quality products which are accurate and precise, with
economical cost, in sustainable and socially responsible
manner.</p>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="about-us-post">
								<a href="#"><i class="fa fa-building-o"></i></a>
								<h3>ISO 9001:2015 Certified.</h3>
							</div>
							<div class="about-us-post">
								<a href="#"><i class="fa fa-cogs"></i></a>
								<h2>24x7 at work</h2>
							</div>
						</div>
						<div class="col-md-6">
							<div class="about-us-post">
								<a href="#"><i class="fa fa-desktop"></i></a>
								<h3>Good Planning</h3>
							</div>
							<div class="about-us-post">
								<a href="#"><i class="fa fa-file"></i></a>
								<h2>Download e-Brochure.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
